* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: black;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.text {
  position: relative;
  top: 12%;
  left: 3%;
  /* background-color: gray; */
  width: 60%;
  height: 84%;
}
.page1,
.page2,
.page3 {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.images {
  position: relative;
  /* background-color: bisque; */
  top: -70%;
  left: 68%;
  scale: 0.8;
  width: 420px;
  height: 84%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rascadelogo {
  width: 300px;
  padding: 30px;
  margin: 30px;
  mix-blend-mode: lighten;
}
.raslogo {
  position: relative;
  width: 370px;
  padding: 30px;
  margin: 30px;
  top: -8%;
  mix-blend-mode: lighten;
}
.vitlogo {
  width: 450px;
  padding: 30px;
  margin: 30px;
  position: relative;
  top: -12%;
  mix-blend-mode: lighten;
}
.para {
  font-size: 21px;
}

.rocket {
  position: relative;
  width: 50px;
  left: 1100px;
  top: 245px;
  z-index: 1;
  rotate: -90deg;
  mix-blend-mode: lighten;
}

@media screen and (min-width: 650px) {
  .raslogomob,
  .vitlogomob,
  .rascadelogomob,
  .rocketmob {
    display: none;
  }
}

/*MOBILE FRAME*/

@media (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: black;
    color: white;
  }
  .page1,
  .page2,
  .page3 {
    width: 100%;
    background-color: black;
  }
  .images {
    display: none;
  }

  .aboutrascade24 {
    position: absolute;
    top: auto;
    left: 40%;
    font-size: 20px;
    white-space: nowrap;
  }
  #para1 {
    width: 227px;
    height: 188px;
    position: absolute;
    left: 60%;
    top: 40px;
    font-size: 10px;
    font-family: "Inter";
  }
  .rascadelogomob {
    width: 144px;
    height: 138px;
    position: absolute;
    top: 40px;
    left: -12px;
    mix-blend-mode: lighten;
  }
  .about3 {
    position: absolute;
    top: 200px;
    left: 40%;
    font-size: 20px;
    white-space: nowrap;
  }
  .ieeeras {
    position: absolute;
    top: 200px;
    left: 68%;
    font-size: 20px;
    white-space: nowrap;
  }
  #para3 {
    width: 182px;
    height: 127px;
    position: absolute;
    left: 1%;
    top: 230px;
    font-size: 10px;
    font-family: "Kodchasan";
  }
  .raslogomob {
    width: 175px;
    height: 64px;
    position: absolute;
    top: 270px;
    left: 82%;
    mix-blend-mode: lighten;
  }
  .about2 {
    position: absolute;
    top: 400px;
    left: 40%;
    font-size: 20px;
    white-space: nowrap;
  }
  .vitchennai {
    position: absolute;
    top: 400px;
    left: 68%;
    font-size: 20px;
    white-space: nowrap;
  }
  .vitlogomob {
    width: 350px;
    height: 194.15px;
    position: absolute;
    top: 430px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    mix-blend-mode: lighten;
  }
  #para2 {
    width: 359px;
    height: 114px;
    position: absolute;
    top: 640px;
    font-size: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: "Kodchasan";
  }
  .rocketmob {
    z-index: 5;
    rotate: 180deg;
    scale: 0.2;
    position: relative;
    top: 350px;
    left: -50px;
    mix-blend-mode: lighten;
  }
}
