* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: black;
  color: white;
}


html,
body {
  height: 100%;
  width: 100%;
}

.text {
  position: relative;
  top: 12%;
  left: 3%;
  /* background-color: gray; */
  width: 60%;
  height: 84%;
}
.page1,
.page2,
.page3 {
  height: 100vh;
  width: 100vw;
  background-color: black;
}
/* .page1 {
  background-color: red;
}
.page2 {
  background-color: black;
}
.page3 {
  background-color: #222;
} */
.images {
  position: relative;
  /* background-color: bisque; */
  top: -74%;
  left: 68%;
  width: 420px;
  height: 84%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rascadelogo {
  width: 300px;
  padding: 15px;
}
.raslogo {
  position: relative;
  width: 370px;
  padding: 15px;
  top: -8%;
}
.vitlogo {
  width: 450px;
  padding: 15px;
  position: relative;
  top: -12%;
}
.para {
  font-size: 20px;
}
 @media screen and (min-width:650px) {
  .raslogomob,
.vitlogomob,
.rascadelogomob{
  display: none;
}

}



/*MOBILE FRAME*/

   @media (max-width: 600px) {
    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: black;
  color: white;
}
  page1,
.page2,
.page3 {
  width: 100%;
  background-color: black;
}
.images{
  display: none;
}



  .aboutrascade24{
    position: absolute;
    top: auto;
    left:40%;
    font-size: 20px;
    white-space: nowrap
  }
  #para1{
    width: 227px;
    height: 188px;
    position: absolute;
    left: 60%;
    top: 40px;
    font-size: 10px;
    font-family: "Inter";
  }
  .rascadelogomob{
    width: 144px;
    height: 138px;
    position: absolute;
    top: 40px;
    left: -12px;
    
  }
  .about3{
    position: absolute;
    top: 200px;
    left:40%;
    font-size: 20px;
    white-space: nowrap
  }
  .ieeeras{
    position: absolute;
    top: 200px;
    left:68%;
    font-size: 20px;
    white-space: nowrap
  }
  #para3{
    width: 182px;
    height: 127px;
    position: absolute;
    left: 1%;
    top: 230px;
    font-size: 10px;
    font-family: "Kodchasan";
  }
  .raslogomob{
    width: 175px;
    height: 64px;
    position: absolute;
    top: 270px;
    left: 82%;

  }
  .about2{
    position: absolute;
    top: 400px;
    left:40%;
    font-size: 20px;
    white-space: nowrap
  }
  .vitchennai{
    position: absolute;
    top: 400px;
    left:68%;
    font-size: 20px;
    white-space: nowrap;
  }
  .vitlogomob{
    width: 350px;
    height: 194.15px;
    position: absolute;
    top: 430px;
    display: block;
   margin-left: auto;
   margin-right: auto;

  }
  #para2{
    width: 359px;
    height: 114px;
    position: absolute;
    top: 640px;
    font-size: 10px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Kodchasan";
  }
}
