* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: black;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

.text {
  position: relative;
  top: 12%;
  left: 3%;
  /* background-color: gray; */
  width: 60%;
  height: 84%;
}
.page1,
.page2,
.page3 {
  height: 100vh;
  width: 100vw;
  background-color: black;
}
/* .page1 {
  background-color: red;
}
.page2 {
  background-color: black;
}
.page3 {
  background-color: #222;
} */
.images {
  position: relative;
  /* background-color: bisque; */
  top: -74%;
  left: 68%;
  width: 420px;
  height: 84%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rascadelogo {
  width: 300px;
  padding: 15px;
}
.raslogo {
  position: relative;
  width: 370px;
  padding: 15px;
  top: -8%;
}
.vitlogo {
  width: 450px;
  padding: 15px;
  position: relative;
  top: -12%;
}
.para {
  font-size: 20px;
}

/*MOBILE FRAME*/

/* @media (max-width: 600px) {
  .text {
    font-size: 15px;
    background-color: #222;
  }
  .rascadelogo {
    z-index: 2;
    position: absolute;
    left: -270px;
    top: -10px;
  }
  .aboutrascade24 {
    z-index: 4;
    position: absolute;
    top: -100px;
  }
} */
